/* Estilo básico para visualização em prototipação */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
main {
    padding: 1rem;
    text-align: center;
}
nav {
    margin: 1rem 0;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    padding: 0.5rem;
}
nav a:hover {
    background-color: #ddd;
}
#conteudo ul {
    list-style: none; /* Remove marcadores padrão */
    padding: 0;
}
#conteudo ul li {
    text-align: center; /* Centraliza os itens */
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #e6e6e6; /* Fundo para destacar os itens */
    display: inline-block; /* Faz os itens parecerem mais uniformes */
}